body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, #444545, #c8c9ca);
    padding: 10px 0;
    z-index: 1000;
    transition: all ease-out 3s; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #200352;
    font-weight: bold;
    font-style: italic;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#section1 { background: #746b9e; }
#section2 { background: #63539e; }
#section3 { background: #633571; }
#section4 { background: #33204a; }


